@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root{
    --purple500:#281154;
    --purple500:#270082;
    --purple500:#1b0058;
    --red600:#dc0000;
    --body:#f9f6ff; 
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

.container
{
max-width: 1200px;
margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration:none ;
color: white;
}
header{
    background-color: var(--purple500);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
display: flex;
gap:20px ;
}